@font-face {
    font-family: Poppins-Semibold;
    src: url(font/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: Poppins-ExtraBold;
    src: url(font/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: Poppins-Regular;
    src: url(font/Poppins-Regular.ttf);
}

html, body {
    font-family:'Poppins-Regular'; 
    font-size: 1em;
    color: rgb(50,50,50);
    background-color: rgb(248,248,248);
}
#container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 25px;
    margin-right: 25px;
    height: 100vh; 
    overflow: hidden;
}
video, #rightCol, h1 {
    width: 100%;
}
#rightCol, #leftCol {
    overflow: auto;
    height: 100vh; 
}

.hidden {
    display: none; 
}

h1 {
    font-family: 'Poppins-ExtraBold';
    font-size: 3em;
}
h2 {
    font-family: 'Poppins-SemiBold';
    color: rgb(70,70,70);
}

.thumbnail {
    width: 30%;
    justify-content: space-between;
    border-radius: 20px;
    filter: saturate(0);
    opacity: 77%;
    margin-right: 11px;
    margin-bottom: 11px;
}
.thumbnail:hover {
    opacity: 100%;
    filter: saturate(1);
    transition: filter 0.2s ease-in-out; 
    transition: opacity 0.2s ease-in-out;
}

#rightCol {
    width: 100%;
}

footer{
    position: fixed;
    bottom: 0px;
    right: 22px;
    text-align: right;
}
h6{
    font-style: italic;
    color: rgb(88,88,88); /*i like repeating numbers.. sue me*/
}


a {
    text-decoration: none;
}
a:link, a:active {
    color: rgb(50,50,50);
}
a:visited {
    color: rgb(70,70,70);
}
a:hover {
    color: rgb(88,88,88);
}

#home-text {
    text-align: right;
    margin-right: 88px;
    margin-top: 75px;
}

.icon {
    margin-top: 22px;
    margin-left: 22px;
    opacity: 70%;
}

p a {
    text-decoration: underline;
}

#logo:hover{
    scale: 111%;
    transition: 0.111s ease-in-out;
}