@font-face {
    font-family: Poppins-Regular;
    src: url(font/Poppins-SemiBold.ttf);
}

#keyboard {
    position: absolute;
    right: -400px;
    bottom: 50px;
    z-index: -1;
    opacity: 70%;
}

.nav {
    position: fixed;

}

ul {
    list-style-type: none;
}
li {
    margin-bottom: 25px;
    margin-top: 25px;
}

h1 {
    font-size: 4em;
    text-align: right;
}

h2 {
    font-size: 1.5 em;
}

body {
    font-family:'Poppins-Regular'; 
    background-color: rgb(235,235,235);
    color: rgb(50,50,50);
    cursor: url('assets/Artboard 1.svg'), auto; /**too big????? but its svg idk **/
}

a {
    color: rgb(50,50,50);
    text-decoration: none;
    font-size: 1.5em;
}
a:hover {
    color: rgb(246,148,193);
    font-size: 1.6em;
}

.container {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;

    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;

    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#headshot {
    float: right;
}

.images {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    justify-content: space-between;
}
.sawm {
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr;
}